@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.products{
	font-size: 1rem;
	font-family: 'Merriweather Sans', sans-serif;
	background: #fafafa;
	color: #ececec;
	padding: 2rem;
}
.products .eco1{
	text-align: center;
	margin: 1rem 0rem;
	font-size: 3rem;
    color: gray;
}

.products  .all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.products  .product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 0.5rem 2rem;
	background-color: white;
}

.products  .product .product-title, .product .product-price{
	font-size: 18px;
}

.products  .product:hover img{
	scale:  1.1;
}

.products  .product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.products  .product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.products  .product a:link,.products  .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.products  .product a:hover{
	transform: scale(1.1);
}

.products  .rate {
    display: inline-block;
    border: 0;
	color: gold;
}
/* Hide radio */
.products  .rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.products  .rate > label {
    float: right;
}
/* The star of the show */
.products  .rate > label:before {
    display: inline-block;
    font-size: 1rem;
    padding: .15rem .1rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.products  .rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
.products  input:checked ~ label, /* color current and previous stars on checked */
.products  label:hover,.products   label:hover ~ label { color: #FFDF00;  } /* color previous stars on hover */

/* Hover highlights */
.products  input:checked + .products  label:hover,.products   input:checked ~ .products  label:hover, /* highlight current and previous stars */
.products  input:checked ~ .products  label:hover ~.products   label, /* highlight previous selected stars for new rating */
.products  label:hover ~ .products  input:checked ~.products   label /* highlight previous selected stars */ { color: #FFDF00;  } 
