
.bodylogin{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    top: -33px;
}
.centerlogin{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.centerlogin h1{
    text-align: center;
    padding: 0 0  20px 0;
    border-bottom: 1px solid silver;
   
}
.centerlogin form{
  
    padding: 0 40px;
box-sizing: border-box; 
}

form .txt-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt-field label{
position: absolute;
top: 30%;
left: 50px;
color: #adadad;
transform: translate(-50%);
font-size: 16px;
pointer-events: none;
}

.txt-field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #2691d9;
transition: 0.5s;
 }

.txt-field input::focus ~ label,
.txt-field input::valid ~ label{
top: -5px;
color: #2691d9;
}   

.txt-field input::focus ~ span::before,
.txt-field input::valid ~ span::before{
   width: 100%;
}   
.passlogin{
    margin: 5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.leftcheck{
    float: right;
    color: black;
}

.passlogin:hover{
text-decoration: underline;
}


input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
border-color: #2691d9;
transition: 0.5s;
}
.Signup-link-login{
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.Signup-link-login a{
color: #2691d9;
text-decoration: none;
    }

.Signup-link-login a:hover{
text-decoration: underline;
 }

 .centerlogin .defimg {
    position: relative;
    width: 50%;
    margin: 0px auto;
     
 }

 .centerlogin .defimg img{
    width: 100%;
 }

 .centerlogin .defimg i{
    position: absolute;
    right: 2%;
    bottom: 2%;
 }

 .centerlogin .defimg i:hover{
    transform: scale(1.5);
 }



 @media (max-width:1100px){
    .bodylogin{
     top: 0px;
       
    }
 }

 @media (max-width:500px){
    .leftcheck{
       font-size: 8px;
    }
    .emp111{
        font-size: 8px;
    }
    .centerlogin{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        background: white;
        border-radius: 5px;
    
    }
    .centerlogin h1{
        text-align: center;
        padding: 0 0  0.75rem 0;
        border-bottom: 1px solid silver;
       
    }
    .centerlogin form{
      
        padding: 0 2.5rem;
        box-sizing: border-box; 
    }
    
    .bodylogin form .txt-field{
        position: relative;
        border-bottom: 1px solid #adadad;
        margin: 1rem 0;
        color: black !important;
    

    }
    
    .txt-field input{
        width: 100%;
        padding: 0 0.5rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
        background: none;
        outline: none;
    }
    .txt-field label{
    position: absolute;
    top: 30%;
    left: 25px;
    color: #adadad;
    transform: translate(-50%);
    font-size: 0.75rem;
    pointer-events: none;
    }
    
    .txt-field span::before{
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 0%;
    height: 1px;
    background: #2691d9;
    transition: 0.5s;
     }
    
    .txt-field input::focus ~ label,
    .txt-field input::valid ~ label{
    top: -2.5px;
    color: #2691d9;
    }   
    
    .txt-field input::focus ~ span::before,
    .txt-field input::valid ~ span::before{
       width: 100%;
    }   
    .passlogin{
        margin: -0.25rem 0 0.75rem 0.25rem;
        color: #a6a6a6 !important;
        cursor: pointer;
        font-size: 1rem;
    }
    .passlogin:hover{
    text-decoration: underline;
    }
    
    
    input[type="submit"]{
        width: 100%;
        height: 2rem;
        border: 1px solid;
        background: #2691d9;
        border-radius: 12.5px;
        font-size: 0.75rem;
        color: #e9f4fb;
        font-weight: 350;
        cursor: pointer;
        outline: none;
    }
    
    input[type="submit"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
    }
    .Signup-link-login{
    margin: 1rem 0;
    text-align: center;
    font-size: 1.25rem;
    color: #666666;
    }
    .Signup-link-login a{
    color: #2691d9;
    text-decoration: none;
        }
        .centerlogin .defimg i{
            font-size: 0.5rem; 
            right: 0;
         }
 }